    module_args = {
{%- for name, arg in module_args.items() %}
        "{{ name }}": {
            "type": "{{ arg.type }}",
            "required": {{ arg.required | default(False) }},
{%- if arg.default is defined %}
            "default": {{ arg.default | default(None) | repr }},
{%- endif %}
{%- if arg.choices %}
            "choices": {{ arg.choices }},
{%- endif %}
{%- if arg.elements is defined %}
            "elements": "{{ arg.elements }}",
{%- if arg.suboptions is defined %}
            "suboptions": {{ arg.suboptions | repr }},
{%- endif %}
{%- endif %}
        },
{%- endfor %}
    }