{% macro render_options(opts) -%}
{
{%- for name, arg in opts.items() %}
"{{ name }}": {
"type": "{{ arg.type }}",
"required": {{ arg.required | default(False) }},
"no_log": {{ arg.no_log | default(False) }},
{%- if arg.default is defined %}
"default": {{ arg.default | default(None) | repr }},
{%- endif %}
{%- if arg.choices %}
"choices": {{ arg.choices }},
{%- endif %}
{%- if arg.elements is defined %}
"elements": "{{ arg.elements }}",
{%- endif %}
{%- if arg.nullable is defined %}
"nullable": {{ arg.nullable }},
{%- endif %}
{%- if arg.suboptions is defined %}
"options": {{ render_options(arg.suboptions) }},
{%- endif %}
},
{%- endfor %}
}
{%- endmacro %}
    module_args = {{ render_options(module_args) }}
